html, body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #386dc3;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Navbar */
.navbar {
    background-color: #0454d4;
    display: flex;
    justify-content: flex-start; /* Aligns items from left to right */
    padding: 1em;
    align-items: center;
}

/* Navbar menu */
.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1em;
}

/* Navbar items */
.navbar li {
    list-style: none;
}

/* Links */
.navbar a {
    text-decoration: none;
    background-color: #0162ff;
    color: white;
    border-radius: 5px;
    padding: 0.75em 1.5em;
    display: inline-block;
    transition: background 0.3s;
}

/* Hover effect */
.navbar a:hover {
    background-color: #014bcc;
}
